body {
  background: #fff
}

section {
  margin-top: 50px;
}

/* 第一个section */
#s1 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 10px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* 左边轮播 */
#s1 div.s1-left {
  width: 30%;
  height: 398px;
  position: relative;
  z-index: 12;
  border: 1px solid #ccc;
}

#s1 div.s1-left .s1-swipe {
  overflow: hidden;
  position: relative;
  height: 100%;

}

#s1 div.s1-left .s1-swipe ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#s1 div.s1-left .s1-swipe ul li {
  position: absolute;
  display: none;
  width: 100%;
}

#s1 div.s1-left .s1-swipe ul li.showImg {
  display: block;
}

#s1 div.s1-left .s1-swipe ul li img {
  width: 100%;
  height: 396px;
}

#s1 div.s1-left .s1-sul {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  height: 22px;
  width: 100%
}
#s1 div.s1-left .s1-sul>ul::after{
  content: "";
  display: block;
  clear: both;
}
#s1 div.s1-left .s1-sul li {
  border: 4px solid #fff;
  /* border-radius: 50%; */
  /* margin-left: 10px;
  margin-right: 10px; */
  float: left;
  /* width: 15px;
  height: 15px; */
  width: 25%;
  height: 25px;
  cursor: pointer;
  transition: all .3s linear;
  box-sizing: border-box
}

.on {
  background: rgba(255, 255, 255, .5);
}

.showImg {
  display: block;
}


/* 右边 */
#s1 div.s1-right {
  width: 30%;
  height: 398px;
  /* border: 1px solid #ccc; */
  margin-right: 1%;
}

#s1 div.s1-right p {
  width: 100%;
  height: 20%;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid #ccc */
}

#s1 div.s1-right .video-con {
  position: relative;
  width: 100%;
  height: 78%;
  /* border: 1px solid #ccc */
}

#s1 div.s1-right .video-con video {
  width: 100%;
  min-width: 200px;
  height: 100%;
}

/* 中部 */
#s1 div.s1-mid {
  width: 45%;
  /* border: 1px solid #ccc; */
}

/* 中间选项卡 */
#s1 div.s1-mid #tab-main {
  padding: 5px;
  /* border: 1px solid #ccc;; */
  width: 98%;
  height: 97%;
}

#s1 div.s1-mid #tab-main .tab-m ul li {
  float: left;
  width: 15%;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 25px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px dashed #ccc;
  transition: all .3s linear;
  border: 1px solid transparent
}

#s1 div.s1-mid #tab-main .tab-m ul::after {
  content: "";
  display: block;
  clear: both;
}

#s1 div.s1-mid #tab-main .tab-m ul li.le {
  transition: all .3s linear;
  border: 1px solid #222;
  border-radius: 30%;
}

#s1 div.s1-mid #tab-main .tab-c {
  margin-top: 20px;
}

#s1 div.s1-mid #tab-main .tab-c::after {
  content: "";
  display: block;
  clear: both;
}

#s1 div.s1-mid #tab-main .tab-c div {
  clear: both;
  border-top: 1px solid #ccc;
  display: none;
  height: 70%;
  position: relative;
}

#s1 div.s1-mid #tab-main .tab-c div.active {
  display: block
}

#s1 div.s1-mid #tab-main .tab-c div>ul {
  padding: 20px 25px 20px;
  height: 70%;
}

#s1 div.s1-mid #tab-main .tab-c div>ul li {
  margin: 15px 3px 20px;
  font-size: 16px;
  border-bottom: 1px dashed #ccc;
}

#s1 div.s1-mid #tab-main .tab-c div>ul li a:hover {
  color: #f00
}

/* 第2个section */
#s2 {
  width: 85%;
}

#s2 #tab2-main {
  padding: 5px;
  margin-right: 5%;
  width: 97%;
}

#s2 #tab2-main .tab2-m {
  height: 70px;
  /* margin-left: 10%; */
  overflow: hidden;
  width: 100%;
}

#s2 #tab2-main .tab2-m ul {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;

}

#s2 #tab2-main .tab2-m ul li {
  float: left;
  cursor: pointer;
  margin-left: 45px;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  transition: all .3s linear;
  border: 1px solid transparent;
}

#s2 #tab2-main .tab2-m>ul::after {
  content: "";
  display: block;
  clear: both;
}

#s2 #tab2-main .tab2-m ul li.loe {
  transition: all .3s linear;
  border-radius: 30%;
  border: 1px solid #222;
  border-bottom: 0;

}

/* #s2 #tab2-main .tab2-m ul li:hover{
  transition: all .3s linear;
  background-color: aquamarine;
  border-radius: 30%
} */
#s2 #tab2-main .tab2-c {
  width: 100%;
}

#s2 #tab2-main .tab2-c div {
  clear: both;
  width: 100%;
  /* border-top: 1px solid #ccc; */
  border: 1px solid #ccc;
  display: none;
  height: 420px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

#s2 #tab2-main .tab2-c div ul {
  display: inline-block;
  width: 23%;
  height: 42%;
  margin: 5px 10px 5px;
  text-align: center
}

#s2 #tab2-main .tab2-c>div ul li:first-child {
  width: 100%;
  height: 100%;
}

#s2 #tab2-main .tab2-c>div ul li:last-child {
  margin-top: 5px;
  margin-bottom: 5px;
}

#s2 #tab2-main .tab2-c>div ul li:last-child a {
  font-weight: bold;
  height: 100%;
}

#s2 #tab2-main .tab2-c>div ul li:last-child a:hover {
  font-weight: bold;
  color: #f00
}

#s2 #tab2-main .tab2-c>div ul li img {
  width: 85%;
  height: 100%;
  transition: all .5 linear;
}

#s2 #tab2-main .tab2-c>div ul li img:hover {
  transform: scale(1.1, 1.1);
  transition: all .5 linear;
  box-shadow: 0 0 20px rgb(219, 103, 49);

}

#s2 #tab2-main .tab2-c div.active {
  display: block
}

/* 第三个section */
#s3 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

#s3>.s3-d1 {
  width: 100%;
  height: 100%;
  display: flex;
}

#s3>.s3-d1 {
  justify-content: flex-start;
}

#s3>.s3-d1>div {
  width: 25%;
  max-width: 500px;
  padding: 5px;
  filter: grayscale(100%);
  transition: all .3s linear;
}

#s3>.s3-d1>div.s3-color {
  filter: grayscale(0%);
  transition: all .3s linear;
}

.s3-pb1 {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  /* background: #e37b63; */
  /* background: #eea50a; */
  background: #aedde5;
  text-align: center;
  position: relative;
}

.s3-pb1>img {
  width: 50%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.s3-ph,
.s3-pb,
.s3-pf {
  width: 100%
}

.s3-ph,
.s3-pf {
  height: 20%;
  /* background: #e37b63; */
  /* background: #eea50a; */
  background: #aedde5;

}

.s3-pb {
  height: 60%;
  background: #ccc;
  position: relative;
}

.s3-pb>a {
  width: 100%;
  height: 100%;
}

.s3-pb>a>img {
  width: 100%;
  height: 100%;
}

#s3 div.secmask {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 20, 0.5);
  transition: all .5s linear;
}

#s3 div.secmask:hover {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s linear;
}

/*footer  */

footer {
  width: 100%;
  clear: both;
  position: relative;
}

footer div#m-foot {
  background: url("../img/footm.png") no-repeat;
  height: 515px;
  width: 100%;
  background-position-y: -100px;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 11;
}

footer div#m-foot .foot-hole {
  background: url("../img/kuang.png");
  width: 290px;
  height: 290px;
  position: absolute;
  top: 30%;
  left: 64%;
  z-index: 5;
  transition: all .5s linear;
}

footer div#m-foot .foot-hole h3 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all .5s linear;
}

footer div#m-foot p {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background: #222;
  /* box-shadow:0 0 100px #f00; */
  opacity: 1;
  position: absolute;
  top: 55%;
  left: 73%;
  z-index: 6;
  transform: translateX(-35%) translateY(-70%);
  transition: all .5s linear;
}

footer div#m-foot .foot-text {
  position: absolute;
  top: 85%;
  left: 15%;
}

footer div#m-foot .foot-text ul li {
  float: left;
  color: antiquewhite
}

footer div#m-foot .foot-text ul li a img.wic {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

footer div#m-foot .foot-text ul li a {
  font-size: 20px;
  color: antiquewhite
}

.wit {
  box-shadow: 0 0 500px #ff0;
  /* box-shadow:0 0 300px #f00; */
}

/* 最右端竖图 */
#max-right {
  float: right;
  width: 230px;
  height: 750px;
  /* border: 1px solid #000; */
  position: relative;
  margin-right: 10px;
  z-index: 5;
  top: 165px;
  background: rgba(220, 220, 220, 0.8)
}

#max-right div.mr-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  /* background: rgba(23, 201, 162, 0.3) */
}

#max-right div.mr-main .stand {
  height: 50%;
  width: 100%;
}

#max-right div.mr-main .online {
  height: 50%;
  width: 100%;
}

#max-right div.mr-main ul,
#max-right div.mr-main ul li {
  width: 97%;
}

#max-right h3>a {
  color: #92817d;
  font-size: 12px
}

#max-right h3>a:hover {
  color: #e37b63;
}

#max-right div.mr-main ul li {
  margin-top: 5px;
  margin-left: 5px;
  border-bottom: 1px dashed #92817d
}

#max-right div.mr-main ul li:nth-child(2) {
  color: #777
}

#max-right div.mr-main ul li img {
  width: 100%;
}

#max-right div.mr-main ul li span {
  display: inline-block
}

#max-right div.mr-main ul li.game-se span:hover {
  color: #f00;
  cursor: pointer;
}

#max-right div.mr-main ul li span:first-child {
  width: 45%
}

#max-right div.mr-main ul li span:nth-child(2) {
  width: 25%
}

#max-right div.mr-main ul li span:last-child {
  width: 20%
}

/* 分楼层 */
p.title-p {
  height: 50px;
  width: 100%;
  color: #fff;
  background: rgba(0, 50, 216, 0.4);
  line-height: 50px;
  font-size: 25px;
  padding-left: 50px;
  font-weight: bold
}

p.title-p1 {
  height: 50px;
  width: 80%;
  color: #fff;
  background: rgba(0, 50, 216, 0.4);
  line-height: 50px;
  font-size: 25px;
  padding-left: 50px;
  font-weight: bold
}